*
{
    margin: 0;
    padding: 0;
    font-family: maghfira, sans-serif;
    direction: rtl;
}
@font-face {
    font-family: maghfira;
    src: url(fonts/maghfira/web/RTL-Maghfira-Ramadan.woff2);
}
.hero-section
{
    position: relative;
    width: 100%;
    min-height: 100vh;
    filter: url(#grainy-texture-filter);
}
.bg-svg
{
    position: absolute;
    z-index: 0;
}
header
{
    width: 80vw;
    position: absolute;
    top: 5%;
    right: 50%;
    transform: translateX(50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 50px;
    background: #dcdcdc;
    border-radius: 12px;
    overflow: hidden;
}
header > p
{
    color: black;
    font-size: 24px;
    font-weight: bold;
    z-index: 2;
}
.contact-me {
    all: unset;
    width: 100px;
    height: 30px;
    font-size: 16px;
    background: transparent;
    border: none;
    position: relative;
    color: #f0f0f0;
    cursor: pointer;
    z-index: 1;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    user-select: none;
    touch-action: manipulation;
    z-index: 2;
}
.contact-me::after,
.contact-me::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -99999;
    transition: all .4s;
}
.contact-me::before {
    transform: translate(0%, 0%);
    width: 100%;
    height: 100%;
    background: #28282d;
    border-radius: 10px;
}
.contact-me::after {
    transform: translate(10px, 10px);
    width: 35px;
    height: 35px;
    background: #ffffff15;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 50px;
}
.contact-me:hover::before {
    transform: translate(5%, 20%);
    width: 110%;
    height: 110%;
}
.contact-me:hover::after {
    border-radius: 10px;
    transform: translate(0, 0);
    width: 100%;
    height: 100%;
}
.contact-me:active::after {
    transition: 0s;
    transform: translate(0, 5%);
}
.cool-effect
{
    position: absolute;
    opacity: 0;
    background-color: #28282d;
    transition: opacity 0.3s ease, transform 0.3s ease;
    pointer-events: none;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    pointer-events: none;
    backdrop-filter: blur(5px);
    transform: translate(-50%, -50%) scale(0.5);
    z-index: 1;
    filter: none;
}
.headline
{
    font-family: "Playpen Sans Arabic", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 60px;
}
.intro
{
    position: absolute;
    top: 30%;
    right: 15%;
}
.intro::selection
{
    color: #FCFCFC;
    background: #28282d;
}
